<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://healthcheckconnector.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e58fb368-0a05-4cbc-8428-0b4cdcb174fc/resourceGroups/Hackathon/providers/Microsoft.Web/sites/HealthCheckConnector</ResourceId>
    <UserName>$HealthCheckConnector</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://healthcheckconnector.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>